

dt{
    margin-bottom: 1rem;
   
}


.AS{
    margin-top: 1rem;
}



h4,.list-group-numbered{
    margin-left: 1rem;
}

.table{
    margin-left: 1rem;
}

footer{
    text-align: center;
}

img {
    width: 100%;
}